.auth_main_page{
    height: calc(100vh - 60px);
    display: flex;
    margin-top: 60px;
}

.left{
    width: 40%;
    height: 100%;
}
.right{
    width: 60%;
    height: 100%;
    display: flex;
}

.left > img{
    width: 100%;
    height: 100%;
}

.avatarContainer{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width: 70%;
    height: 100%;
    padding-top: 5%;
}

.formContainer > h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 94px;
    color: #009D6A;
    margin-bottom: 40px;
}

.formContainer > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labelInput{
    display: flex;
    flex-direction: column;
}

.labelInput > label {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #009D6A;
}

.labelInput > input{
    width: 80%;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 157, 106, 0.5);
}

.catOption{
    display: flex;
    margin-top: 10px;
}
.catOption > div{
    border: 1px solid rgba(0, 157, 106, 0.5);
    padding: 8px 15px;
    margin-right: 20px;
    cursor: pointer;
}


.select{
    color: white;
    background: #009D6A;
}

.formContainer > form > button{
    background: #009D6A;
    color: white;
    padding: 10px 20px;
    width: 30%;
    border: 1px solid rgba(0, 157, 106, 0.5);
    margin-top: 10px;
}