.explore_head{
    height: 90px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.explore_head h1{
    color: #009D6A;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
}

.explore_head_buttons{
    display: flex;
    gap: 20px;
}

.explore_card{
    height: 183px;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cardParent{
    display: flex;
    width: 96%;
    margin-left: 2%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    max-height: calc(100vh - 90px);
    overflow-y: scroll;

}

.card_content{
    height: 183px;
    display: flex;
    gap: 20px;
    padding-top: 20px;
    margin-left: 30px;
}

.image_rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.name_desc{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 40%;
}
.name_desc p{
    margin-top: 15px;
}

.btn_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.green_btn{
    background-color: #009D6A;
    color: white;
    padding: 15px 50px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.white_btn{
    background-color: white;
    color: #009D6A;
    padding: 15px 50px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}