
.explore_card{
    width: 400px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    background: #d9d9d951;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    margin: 20px;
}

.image_rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
}

.card_desc{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.card_desc > h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 54px;
}

.workerData{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.workerData div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workerData h5{
    font-size: 18px;
    font-weight: 500;
}


.btn_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.green_btn{
    background-color: #009D6A;
    color: white;
    padding: 15px 50px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 75%;
    border-radius: 10px;
}

